/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 40px;
    width: calc(100% - 270px);
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    color: #1c5d99;
    text-align: center;
    margin-bottom: 20px;
}

/* Loan Form Sections */
.loan-form {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.loan-form h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.button-file {
    text-align: center;
    margin: 20px 0;
}

.note {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 10px;
}

.custom-file-upload {
    background-color: #d1e7dd;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    color: #1c5d99;
    font-weight: bold;
}

.file-name {
    font-size: 14px;
    color: #6c757d;
}

/* Form Fields */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #495057;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.vicinity p {
    font-size: 16px;
    color: #495057;
    margin-bottom: 5px;
}

.facility-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.facility-option {
    display: flex;
    align-items: center;
}

.facility-option label {
    margin-left: 5px;
}

/* Button Group */
.button-group {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #1c5d99;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #164a79;
}