/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Body Styling */
body {
    padding-top: 80px;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.resetp-container {
    max-width: 400px; 
    min-height: 50px;
    margin: 50px auto; 
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetp-logo {
    width: auto;
    height: 100px;
    max-width: 100%;
    margin-bottom: 20px;
    object-fit: contain;
}

/* Login Headings */
.resetp-container h1 {
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 24px;
    color: #0F4332;
}

.rp-text {
    font-weight: bold;
}

.password-requirements {
    margin-top: 10px;
    font-size: small;
    color: #0a0909;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-group input {
    flex: 2;
    max-width: 250px;
    width: 100%;
    padding: 12px 45px 12px 15px;
    font-size: 14px;
    font-weight: 600;
    background-color: #F0F0F0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #333;
    margin-top: 5px;
    padding-right: 40px; /* Adjusted padding for icon space */
}
.toggle-password-icon {
    position: absolute;
    top: 50%;
    right: 50px; /* Position the icon */
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password-icon img {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
}


.reset-password-button {
    background-color: #0F4332;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 250px;
    width: 100%;
    margin: 2px auto;
    margin-top: 20px;
    white-space: nowrap;
}

.reset-password-button:hover {
    background-color: #10C98F;
}
