.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Personal Information Section */
.personal-info-section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.personal-info-header h2 {
    color: #0F4332;
    font-size: 30px;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
}

.input-group input[readonly] {
    background-color: #f0f0f0;
    color: #333;
    cursor: not-allowed;
}

/* Button Group */
.button-group {
    display: flex;
    justify-content: space-between;
    grid-column: span 4;
    align-items: center;
    margin-top: 20px;
}

.left-buttons {
    display: flex;
    gap: 10px;
}

.change-password {
    background-color: #0F4332;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password:hover {
    background-color: #10C98F;
}

.save-changes, .edit-button {
    background-color: #0F4332;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-changes:hover, .edit-button:hover {
    background-color: #10C98F;
}

/* Modal styles */
.modal { 
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content { 
    background-color: #fff; 
    margin: 15% auto; 
    padding: 20px; 
    width: 400px; 
    max-width: 90%; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.close-button { 
    float: right; 
    font-size: 1.5rem; 
    cursor: pointer; 
    color: #333; 
}
